*{
    margin: 0;
    padding: 0;
}
.container-about{
    height: auto;
    padding-top: 50px;
    margin-top: 50px;
}
.container-about h5{
    font-size: 140px;
    text-align: end;
    font-weight: 900;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container-about .text-camp{
    display: flex;
    text-align: left;
    padding: auto;
    flex-direction: column;
    align-items: left;
}
.container-about p{
    max-width: 300px;
    font-size: 12px;
}
.container-about hr{
    margin: 0;
}
.row-revers h5{
    text-align: left;
}
.row-revers .text-camp{
    align-items: flex-end;
    text-align: end;

}
@media screen and (max-width: 768px) {
    .row-revers{
        display: flex;
        flex-direction: column-reverse;
    }
    .container-about h5{
        text-align: center;
    }
    .container-about .text-camp{
        align-items: center;
    }
    .row-revers .text-camp{
        align-items: center;
        text-align: left;
    }
  }